body{
  background-image: url(../city.jpg);
  background-repeat: no-repeat;
}

.row {

  height: 40px;
}

.game {
  background-color : white;
  height: 40px;
  border: 1px solid;
  position: absolute;
  padding: 0 !important;

}
/*.airplane {
  background-image: url(../airplane.jpg) ;
  background-size: 100px;

      height:100px;
      width:100px;
      position: absolute;
      top: 0;
      left: 0;

  height: 40px;
}*/



#airplane {
  height: 25px;
}

#bird{
  height: 26px;
}

#explosion {
  height: 35px;
}

#finish {
  height: 35px;
}
